h1 {
    text-align: center;
    width: 300px;
    color: white;
}

h6 {
    text-align: center;
    width: 300px;
    color: white;
}

.login-container {
    height: 100vh;
}

.login-grid-container {
    height: 100vh;
}

.auth-input-container {
    width: 100%;
}